* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*head boxes*/

.head-box {
  width: 990px;
  background: #eeeeee;
  border: 1px solid #a7a7a7;
  margin: 50px auto;
}

.-sm {
  height: 20vh;
}

.-lg {
  height: 40vh;
}

.box-100-in-120 {
  height: 10vh;
  width: 6vw;
  background: #cccccc;
  border: 1px solid #949494;
}

.box-220-in-120 {
  height: 22vh;
  width: 6vw;
  background: #cccccc;
  border: 1px solid #949494;
}

.box__left {
  float: left;
  margin: 5vh 20px;
}

.box__right {
  float: right;
  margin: 5vh 20px;
}

.wrapper-for-boxes__center {
  width: 14vw;
  margin: 9vh auto;
  /* transform: translateX(-50%); */
}

.wrapper-for-boxes__right {
  width: 14vw;
  margin: 9vh 2vw;
  float: right;
}

.box__left-lg {
  float: left;
}

.box__right-top {
  float: right;
  margin-bottom: 2vh;
  clear: right;
}

.box__right-bottom {
  float: right;
  margin-bottom: 0;
  clear: right;
}
